@model Listing
@{
    ViewBag.Title = "Delete Listing";
}

<h2>Confirm Deletion</h2>
<h3>Listing ID: @Model.ListingId</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ListingId" />
    <br />
    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Listing" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>

