@using ASPNET_FP.Models.ViewModels
@model LoginViewModel

<form class="row g-3" method="post" asp-action="Login">
    <div asp-validation-summary="All" class="text-danger m-0"></div>

    <div class="col-md-6">
        <label asp-for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email" id="inputEmail">
    </div>
    <div class="col-md-6">
        <label asp-for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="Password" id="inputPassword">
    </div>
    <div class="col-12 d-flex justify-content-end">
<button type="submit" class="btn btn-primary ">Sign In</button>
</div>

</form>