@{
    ViewBag.Title = "Account Details";
}

<form>

    <label>Email: </label>
    <input type="email" name="email" placeholder="Enter email here:" /><br /><br />
    <label>Password: </label>
    <input type="text" name="password" placeholder="Enter password here:" /><br /><br />
    <button type="submit">Login</button>

</form>