@model Account


<form class="row g-3" method="post" asp-action="User">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="col-md-6">
        <label asp-for="Name" class="form-label">Name</label>
        <input class="form-control" asp-for="Name"  >
        
    </div>
    <div class="col-md-6">
        <label asp-for="Email" class="form-label">Email</label>
        <input class="form-control" asp-for="Email" >
    </div>
    <div class="col-md-6">
        <label asp-for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="Password">
    </div>
    <div class="col-md-6">
        <label asp-for="Phone" class="form-label">Phone</label>
        <input type="tel" class="form-control" asp-for="Phone" >
    </div>
   
    <div class="col-md-6">
        <label asp-for="Gender" class="form-label">Gender</label>
        <input type="text" class="form-control" asp-for="Gender">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>

</form>